@import "~common/_variables.scss";

@font-face {
  font-family: 'PFDinMono';
  font-weight: normal;
  src: local('PFDinMono'), url(./fonts/PFDinMono-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'PFDinMono';
  font-weight: 300;
  src: local('PFDinMono'), url(./fonts/PFDinMono-Light.ttf) format('truetype');
}


body {
  margin: 0;
  font-family: 'PFDinMono';
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
  
}
