// Mail block sizes
$algsblock-width: 15%;
$chartsblock-width: 55%;
$aceblock-width: 30%;

// Font colors
$text-color: #F3F3F3;

// BG colors
$algs-list-bg: #141414;
$charts-bg: #2E2E2E;
$charts-btns-bg: #3D3D3D;
$input-bg: #606060;